.left {
    background-color: #afd4c0;
    height:500px;
    
}
.right {
    background-color: #afd4c0;
    height: 500px;
}
.center {
    background:linear-gradient(to bottom, #e2f3ea, #ffffff);
    height: 500px;
}

