.App {
    text-align: center;
  }
  body{
    background-color: #afd4c0;
    font-family: Open-Sans, sans-serif;
    padding: 0px;
  }
  main{
    width: 850px;
    margin: auto;
  }
  .splash-gradient{
    background-color: linear-gradient(to bottom, #e2f3ea, #ffffff);
  }
  
  .flex{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  .item-1{
    flex-grow: 1;
  }
  .item-2{
    flex-grow: 2;
  }
  .pad{
    padding:8px;
  }

  .right {
    margin-left: auto;
 }

  
  
  