
.Login{
    background-color: white;
    height: 850px;
    padding: 250px 100px 
}

.logo{
    padding:0px 0px 40px 0px;
}

.login-btn{
    width: 400px;
    padding: 30px;
    margin: auto;
    font-weight: bold;
}

.btn-spacing{
    width: 150px;
    padding: 10px 10px;
    font-size: 14pt;
}